
.link{
  color: whitesmoke !important;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px;
  position: relative;
  cursor: pointer;
  background: rgba(213, 8, 57, 0.62);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  min-width: 100px;
  transition: box-shadow, background 1s ease;

  @media (min-width: 1024px) and (max-width: 1280px) {
   display: block;
  }

  &:hover {
    background: transparent;
    color:var(#{--btn-color-hover-default});
    box-shadow: 0 0 1em 0.5em rgba(213, 8, 57, 0.62);
  }
}
