@import "../index";

$heightFooter: $size * 6;
$footerPaddingTop: $size * 2.5;
$footerWidthBorder: $size * 0.1;
$navWidth: $size * 25;
$sidBarWidth: $size * 25;


* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-background-default);
  color: #050505;
}

.containerTopLayout {
  display: flex;
  justify-content: space-between;
  color: var(--text-color-default);
}

.containerMain {
  width: calc(100%);
  padding: $size;
  color: var(--text-color-default);
  flex: 1;
}

.containerSideBar {
  display: flex;
  flex-direction: column;
  border-left: 1px solid darken($colorDefault, 25%);
  padding-top: $size;
  padding-left: $size;
  width: 250px;
}

.footer {
  height: $heightFooter;
  padding-top: $footerPaddingTop;
  background-color: var(--body-background-default);
  text-align: center;
  color: var(--text-color-default);
  font-size: $size * 2;
  border-top: $footerWidthBorder solid darken($colorDefault, 25%);
}

.topArrow {
  color: rgba(213, 8, 57, 0.62);
  position: fixed;
  bottom: 150px;
  z-index: 1000;
  left: 50px;
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  &:hover {
    cursor: pointer;
    color: #c05a11;
  }
}

.headerMain {
  background-color: #424c43;
}

@keyframes example {
  from {
    color: rgba(30, 2, 8, 0.99);
  }
  to {
    color: rgba(213, 8, 57, 0.62);
  }
}


