
.search {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-height: 600px;
  border-radius: 10px;

  &-result {
    background: white;
    border-top: 1px solid grey;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    z-index: 1200;
    position: relative;

  }

  &-label {
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: black;

      &-search {
        left: 10px;
      }

      &-close {
        right: 10px;
        cursor: pointer;
      }

      &-cursor {
        left: 39px;
        width: 1px;
        height: 20px;
        background: grey;
        animation: searchCursor 1s ease-out infinite;
      }
    }
  }

  &-input {
    width: 100%;
    padding: 8px 8px 8px 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: white;

    &::placeholder {
      color: grey;
    }

  }
}

@keyframes searchCursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}